* {
    padding: 10;
    margin: 10;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.body {
    height: 100vh;
    width: 100vw;
    background-color: white;
}

header {
    padding: 20px;
    padding-top: 20px;
    width: 1400px;
    margin: 0 auto;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

nav a {
    text-decoration: none;
    font-size: 1.2rem;
    color:rgb(76, 72, 72);
    display: block;
    padding: 10px;
}

.homepage-title{
    width: 100%;
    height: 100%;
    display: flex;
    padding-bottom: 300px;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 200;
    color: rgb(113, 110, 110); /*  rgb(35, 35, 153) */
}

.design-geek-container {
    height: 100%;
    width: 100%;
    min-width: 600px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(327px, 1fr)); /* width 200px */
    gap: 15px 15px;
    overflow: auto;
}

.dg-grid-content {
    aspect-ratio: 1/.85;
    background-color: rgb(157, 152, 152);
    border-radius: 5px;
}

.el-classico {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
    column-gap: 10px;
}

.ec-aside {
    height: 100vh;
    width: 411px;
    min-width: 411px;
    background-color: rgb(113, 110, 110);
    border-radius: 5px;
}

.ec-grid-container {
    height: 100%;
    width: 100%;
    max-height: 100vh;
    min-width: 600px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(327px, 1fr));
    gap: 10px 10px;
    overflow: auto;
}

.ec-content {
    aspect-ratio: 1/0.85;
    background-color:  rgb(157, 152, 152);
    border-radius: 5px;
}


.left-hand {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
    column-gap: 10px;
}

.lh-aside {
    height: 100vh;
    min-width: 411px;
    background-color: rgb(84, 84, 84);
    border-radius: 5px;
}

.lh-grid-container {
    height: 100%;
    width: 100%;
    min-width: 600px;
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(327px, 1fr));
    gap: 10px 10px;
    overflow: auto;
}

.lh-content {
    aspect-ratio: 1/.85;
    background-color:  rgb(157, 152, 152);
    border-radius: 5px;
}

.cross-eyed-flex-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-height: 100%;
}

.cross-eyed {
    height: 100vh;
    width: 100%;
    min-width: 600px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(327px, 1fr)); /* width 200px */
    gap: 15px 15px;
    overflow: auto;
}

.ce-grid-primary-content {
    aspect-ratio: 1/.85;
    background-color: rgb(157, 152, 152);
    border-radius: 5px;
}

.ce-grid-content {
    aspect-ratio: 1/.85;
    background-color: grey;
    border-radius: 5px;
}

.news-freak {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;
    column-gap: 10px;
    padding-right: 15px;
}

.nf-grid-container {
    height: 100vh;
    width: 100vw;
    min-width: 830px;
    display: grid;
    grid-template-columns: repeat(5, 400px);
    justify-content: space-between;
    overflow: auto;
}

.nf-grid-content {
    background-color: grey;
    border-radius: 5px;
    padding: 3px 3px;
    
}

@media screen and (max-width: 1500px) {
    .nf-grid-container {
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 2005px) {
    .nf-grid-container {
        grid-template-columns: repeat(4, 400px);
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 1611px) {
    .nf-grid-container {
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 1215px) {
    .nf-grid-container {
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: 1fr;
    }
}

.front-hand {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: white;
    column-gap: 10px;
}

.fh-aside {
    height: 100vh;
    min-width: 411px;
    background-color: rgb(84, 84, 84);
    border-radius: 5px;
}

.fh-grid-container {
    height: 100%;
    width: 100%;
    min-width: 600px;
    max-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(327px, 1fr));
    gap: 10px 10px;
    overflow: auto;
}

.fh-content {
    aspect-ratio: 1/.85;
    background-color:rgb(157, 152, 152);
    border-radius: 5px;
}

.cockpit {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: white;
    padding-right: 17px;
}

.cp-grid-container {
    width: 100%;
    min-width: 960px;
    display: grid;
    grid-template-columns: repeat(5, 400px); /*400px*/
    grid-template-rows: 1fr 1fr; 
    justify-content: space-between;
    column-gap: 15px;
    row-gap: 17px;
    overflow: auto;
}

.cp-grid-content {
    background-color: grey;
    border-radius: 5px;
}

@media screen and (max-width: 2088px) {
    .cp-grid-container {
        grid-template-columns: repeat(4, 400px);
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width: 1670px) {
    .cp-grid-container {
        grid-template-columns: repeat(3, 400px);
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (max-width: 1253px) {
    .cp-grid-container {
        grid-template-columns: repeat(2, 400px);
        grid-template-rows: 1fr 1fr;
    }
}

.the-reader {
    height: 100vh;
    width: 100vw;
    min-width: 1051px;
    display: flex;
    background-color: white;
    column-gap: 10px;
    padding-right: 15px;
}

.tr-primary-aside {
    height: 100%;
    width: 245px;
    min-width: 245px;
    background-color: rgb(113, 110, 110);
    border-radius: 5px;
}

.tr-aside {
    height: 100%;
    width: 411px;
    min-width: 411px;
    background-color: rgb(113, 110, 110);
    border-radius: 5px;
}

.tr-content {
    width: 100%;
    background-color:rgb(157, 152, 152);
    border-radius: 5px;
    overflow: auto;
}

.tr-title {
    padding-left: 5px;
    padding-bottom: 80px;
    text-align: left;
    align-items: center;
    color: rgb(239, 239, 239);
}

p {
    padding-top: 30px;
    padding-left: 5px;
    text-align: start;
    align-content: stretch;
    font-size: 25px;
    color: rgb(239, 239, 239);
}